<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lj.iot.biz.db.smart.mapper.FenceSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lj.iot.biz.db.smart.entity.FenceSetting">
        <id column="fence_id" property="fenceId" />
        <result column="fence_name" property="fenceName" />
        <result column="device_id" property="deviceId" />
        <result column="fence_lng" property="fenceLng" />
        <result column="fence_lat" property="fenceLat" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fence_id, fence_name, device_id, fence_lng, fence_lat, create_time
    </sql>

</mapper>
