<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lj.iot.biz.db.smart.mapper.HomeUserDeviceNoAuthMapper">
    <delete id="deleteAuth">
        delete from home_user_device_no_auth t1 where t1.home_user_id = #{homeUserId}
                    and t1.auth_type= #{authType}  and  t1.user_device_id in '('+ #{ids} +')'
    </delete>
</mapper>
