<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lj.iot.biz.db.smart.mapper.MeshKeyConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lj.iot.biz.db.smart.entity.MeshKeyConfig">
        <id column="id" property="id" />
        <result column="device_id" property="deviceId" />
        <result column="element_index" property="elementIndex" />
        <result column="model_id" property="modelId" />
        <result column="parent_id" property="parentId" />
        <result column="product_id" property="productId" />
        <result column="target_device_id" property="targetDeviceId" />
        <result column="target_element_index" property="targetElementIndex" />
        <result column="target_pub_addr" property="targetPubAddr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, device_id, element_index, model_id, parent_id, product_id, target_device_id, target_element_index, target_pub_addr
    </sql>

</mapper>
