<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lj.iot.biz.db.smart.mapper.UserClockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lj.iot.biz.db.smart.entity.UserClock">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="master_device_id" property="masterDeviceId"/>
        <result column="cron" property="cron"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="listByMasterDeviceIdAndCronOrRemark" resultMap="BaseResultMap">
        select *
        from user_clock
        where master_device_id = #{masterDeviceId}
          and (cron = #{cron} or remark = #{remark})
    </select>

</mapper>
