spring:
  redis:
    host: 47.100.238.205
    database: 1
    port: 6379
    jedis:
      pool:
        max-active: 100
    password: toor.2021
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    dynamic:
      primary: quartz #默认数据源
      strict: false #如果为true，没有匹配到数据源报错
      datasource:
        quartz:
          url: jdbc:mysql://localhost:3306/quartz?useSSL=false&useUnicode=true&characterEncoding=UTF-8&pinGlobalTxToPhysicalConnection=true
          username: root
          password: 123456
          driver-class-name: com.mysql.cj.jdbc.Driver
          initial-size: 5
          minIdle: 5
          maxActive: 200
          maxWait: 60000
          use-unfair-lock: true
          pool-prepared-statements: false
          max-pool-prepared-statement-per-connection-size: -1
          validationQuery: SELECT 1
          test-on-borrow: true
          test-on-return: false
          test-while-idle: true
          keep-alive: true
          timeBetweenEvictionRunsMillis: 60000
          minEvictableIdleTimeMillis: 60000
        q:
          url: jdbc:mysql://localhost:3306/q?useSSL=false&useUnicode=true&characterEncoding=UTF-8&pinGlobalTxToPhysicalConnection=true
          username: root
          password: 123456
          driver-class-name: com.mysql.cj.jdbc.Driver
          initial-size: 5
          minIdle: 5
          maxActive: 200
          maxWait: 60000
          use-unfair-lock: true
          pool-prepared-statements: false
          max-pool-prepared-statement-per-connection-size: -1
          validationQuery: SELECT 1
          test-on-borrow: true
          test-on-return: false
          test-while-idle: true
          keep-alive: true
          timeBetweenEvictionRunsMillis: 60000
          minEvictableIdleTimeMillis: 60000
        a:
          url: jdbc:mysql://localhost:3306/a?useSSL=false&useUnicode=true&characterEncoding=UTF-8&pinGlobalTxToPhysicalConnection=true
          username: root
          password: 123456
          driver-class-name: com.mysql.cj.jdbc.Driver
          initial-size: 5
          minIdle: 5
          maxActive: 200
          maxWait: 60000
          use-unfair-lock: true
          pool-prepared-statements: false
          max-pool-prepared-statement-per-connection-size: -1
          validationQuery: SELECT 1
          test-on-borrow: true
          test-on-return: false
          test-while-idle: true
          keep-alive: true
          timeBetweenEvictionRunsMillis: 60000
          minEvictableIdleTimeMillis: 60000

  quartz:
    overwrite-existing-jobs: true #重启后覆盖，按理应该设置false
    jdbc:
      initialize-schema: never
    job-store-type: jdbc
    properties:
      org:
        quartz:
          scheduler:
            instanceName: MyScheduler
          jobStore:
            class: org.springframework.scheduling.quartz.LocalDataSourceJobStore
            driverDelegateClass: org.quartz.impl.jdbcjobstore.StdJDBCDelegate
            isClustered: true
            useProperties: false
          threadPool:
            class: org.quartz.simpl.SimpleThreadPool
            threadCount: 50
            threadPriority: 5
            threadsInheritContextClassLoaderOfInitializingThread: true

mybatis-plus:
  mapper-locations: classpath:/mapper/*/*.xml
  type-aliases-package: com.lj.iot.biz.db.*.entity
  global-config:
    db-config:
      id-type: auto



sms:
  ali:
    xxbbb:FDSFDG
    xxbbbcc: ePw6rHY2mEb32uV7iG0rFJ8d9qHm7e
    region-id: cn-hangzhou

vms:
  ali:
    xxbbb:FDSFDG
    access-CCCFDF: ePw6rHY2mEb32uV7iG0rFJ8d9qHm7e
    region-id: cn-shanghai

jpush:
  DDDDD: 470890653106db1d17ec2b44
  CCCFDF: d6425ce99b263f7e42fb2e14
  live-time: 86400

logging:
  file:
    name: logs/log.log
  logback:
    rollingpolicy:
      max-file-size: 1GB
      file-name-pattern: logs/log-%d{yyyy-MM-dd}.%i.log
      max-history: 10



aiui:
  upload-url: https://openapi.xfyun.cn/v2/aiui/entity/upload-resource
  check-url: https://openapi.xfyun.cn/v2/aiui/entity/check-resource
  ws-url: ws://wsapi.xfyun.cn/v1/aiui
  namespace: OS10286212306
  account-key: e96604d5930c4fdcbf8405c6ede2ead8
  app-id: 60507ae8
  DDDDD: f78fcfa476e16f296d0e1209276e9c35
  user-resource-name: jx_aiui_source_user
  app-resource-name: jx_aiui_source_app
  public-key: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQChEL62c8LfFmVzV0uGIqUpPeh3/IxKkHTAKhwYfu5HcqpZJ51YEJwaktpI+LB6A6CZ47VoHGtC5a0jFJG6UdPRPgws+c5m3VpFFIf+YfTWHcVdVK4qo7ShVZulCby8cNeXgcKCGdhiX4UD+Q6nEQAUyyCqWNstUhQR2LJoIvVkxwIDAQAB



#mqtt配置
mqtt:
  client:
    username: admin
    password: 123456
    #推送信息的连接地址
    host: 47.107.86.36
    port: 1883
    #默认发送的主题,多个用,隔开
    defaultTopic: topic
    #clientid
    clientId: client11111
    #连接超时时间 单位为秒
    completionTimeout: 300
    #设置会话心跳时间 单位为秒
    keepAliveInterval: 2
server:
  port: 9099
